<div class="jumbotron">
<h1>Instalacja bootstrap i wykorzytsanie jumbotron</h1>
<p>Powinno wszystko ładnie śmigać :)</p>

<%= link_to 'O mnie', home_about_path, class: 'btn btn-default btn-lg text-warning' %>
<%= link_to 'Główna', root_path, class: 'btn btn-primary btn-lg text-warning' %>
<p><a href="#" class="text-success">Success link</a></p>

</div>
